:root {
    
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*,
*::before, 
*::after {
    box-sizing: inherit;
    padding: 0; 
    margin: 0; 
}
a, a:visited{
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw; 
    overflow: hidden;
}

.background {
    height: 100vh; 
    width: 100vw; 
    background-image: 
        url(/images/bg-stars.svg),
        url(/images/pattern-hills.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: auto;
    background-color: var(--very-dark-black-blue);

    @media screen and (max-width: 750px){
        background-size: auto;
    }

    @media screen and (min-width: 1440px) {
        background-size: contain; 
    }

}

.body {
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 13.2rem 2rem 13.2rem 2rem; 

    @media screen and (max-width: 750px){
        padding: 14.2rem 2rem 4.8rem 2rem; 
    }
}

.counter {
    width: 68.8rem; 
    height: 31.7rem; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 

    @media screen and (max-width: 750px){
        width: 32.7rem; 
        height: 19.4rem; 
    }



    &__headline {
        height: 13.3rem; 
        width: 100%; 
        display: flex; 
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        @media screen and (max-width: 750px){
            height: 4.8rem; 
            text-align: center;
        }

        &-h1 {
            font-size: 2.2rem; 
            line-height: 2.2rem;
            letter-spacing: .75rem;
            color: var(--white);
            text-transform: uppercase;

            @media screen and (max-width: 750px){
                font-size: 1.8rem;
                line-height: 2.3rem;
                letter-spacing: .614rem;
            }
        }
    }

    &__counter {
        width: 68.6rem; 
        height: 18.4rem;

        @media screen and (max-width: 750px){
            width: 32.7rem; 
            height: 9.2rem; 
        }

        &-top {
            height: 15rem; 
            width: 100%; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 750px){
                height: 7.1rem; 
            }

            &-FLIP {
                height: 15rem; 
                width: 14.8rem; 
                position: relative;
                background-color: black;
               
                border-radius: 1rem;

                perspective: 300px;
                perspective-origin: bottom; 

                @media screen and (max-width: 750px){
                    height: 7.1rem; 
                    width: 7rem; 
                }

                &-TOP {
                    height: 7rem; 
                    width: 14.8rem; 
                    position: absolute;  
                    top: 0; 
                    border-radius: 1rem 1rem 0 0;

                    transform-style: preserve-3d;
                    transform-origin: bottom; 

                    @media screen and (max-width: 750px){
                        height: 3.3rem; 
                        width: 7rem; 
                    }

                    &-NEXT {
                        height: 7rem; 
                        width: 14.8rem; 
                        position: absolute;  
                        top: 0; 
                        z-index: -1;

                        @media screen and (max-width: 750px){
                            height: 3.3rem; 
                            width: 7rem; 
                        }
                    }
                   

                    &-FACE {
                        height: 100%; 
                        width: 100%; 
                        background-color: var(--dark-desaturated-blue);
                        // background-color: dodgerblue;
                        overflow: hidden; 
                        position: absolute; 
                        text-align: center;
                        
                        transform-style: preserve-3d;
                        
                        border-radius: 1rem 1rem 0 0;
                        backface-visibility: hidden;
                        z-index: 3;

                        @media screen and (max-width: 750px){
            
                        }
                       
                        
                        &-BACK {
                            height: 100%; 
                            width: 100%; 
                            background-color: var(--dark-desaturated-blue); 
                            // background-color: orangered;
                            position: absolute; 
                            overflow: hidden;
                            text-align: center;

                            transform-style: preserve-3d;
                            
                            border-radius: 0 0 1rem 1rem;
                            transform: rotateZ(180deg) rotateY(180deg);
                            backface-visibility: hidden;

                            @media screen and (max-width: 750px){
            
                            }

                        }
                    }
                }

                &-BTM {
                    height: 7rem; 
                    width: 14.8rem; 
                    position: absolute; 
                    bottom: 1rem; 
                    border-radius: 0 0 1rem 1rem;
                    overflow: hidden;

                    transform-style: preserve-3d;
                    z-index: -2;

                    @media screen and (max-width: 750px){
                        height: 3.3rem; 
                        width: 7rem; 
                        bottom: .5rem; 
                    }

                    &-FACE {
                        height: 100%; 
                        width: 100%; 
                        background-color: var(--dark-desaturated-blue);
                        // background-color: orchid;

                        position: absolute; 
                        top: 0; 
                        text-align: center;
                        overflow: hidden;

                        transform-style: preserve-3d;
                    }
                }
            }

            &-DIVIDER {
                height: 100%; 
                width: 100%; 
                position: relative; 
                z-index: 0;
                opacity: .7;

                &-LEFT-BUBBLE {
                    height: 2rem; 
                    width: 2rem; 
                    border-radius: 100rem;
                    position: absolute; 
                    top: 50%; 
                    left: 0; 
                    transform: translateY(-70%) translateX(-50%);
                    background-color: var(--very-dark-black-blue);

                    @media screen and (max-width: 750px){
                        height: 1rem;
                        width: 1rem; 
                    }

                }
                &-RIGHT-BUBBLE {
                    height: 2rem; 
                    width: 2rem; 
                    border-radius: 100rem;
                    position: absolute; 
                    top: 50%; 
                    right: 0;
                    transform: translateY(-70%) translateX(50%);
                    background-color: var(--very-dark-black-blue);

                    @media screen and (max-width: 750px){
                        height: 1rem;
                        width: 1rem; 
                    }
                }

                &-LINE {
                    height: .3rem; 
                    width: 100%; 
                    
                    background-color: var(--very-dark-black-blue);
                    position: absolute; 
                    top: 46%; 

                    @media screen and (max-width: 750px){
                        height: .1rem; 
                    }
                }
            }
        }
        &-btm {
            height: 3.4rem; 
            width: 100%; 
            display: flex; 
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 750px){
            
            }

            &-DISPLAY {
                width: 14.8rem; 
                font-size: 1.4rem;
                line-height: 1.852rem;
                letter-spacing: .592rem;
                color: var(--grayish-blue); 
                text-transform: uppercase;
                text-align: center;

                @media screen and (max-width: 750px){
                    width: 7rem; 
                    font-size: .7rem;
                    letter-spacing: .296rem;
                }

            }

        }


        &-NUMBER-TOP {
            display: block;
            font-size: 8rem;
            line-height: 7.1rem;
            letter-spacing: -.24rem;
            font-weight: 700;
            color: var(--soft-red); 
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translateX(-50%);

            @media screen and (max-width: 750px){
                font-size: 3.6rem;
                line-height: 3.3rem;
                letter-spacing: -.108rem;
            }

        
        }

        &-NUMBER-BTM {
            display: block;
            font-size: 8rem;
            line-height: 7.1rem;
            letter-spacing: -.24rem;
            font-weight: 700;
            color: var(--soft-red); 
            position: absolute; 
            bottom: 50%; 
            left: 50%; 
            transform: translateX(-50%);

            @media screen and (max-width: 750px){
                font-size: 3.6rem;
                line-height: 3.3rem;
                letter-spacing: -.108rem;
            }
        }
    }
}

.socials {
    display: flex; 
    justify-content: space-between;
    width: 13.6rem; 
    height: fit-content; 

    & svg {
        fill: #8385A9; 
        cursor: pointer;
        &:hover {
            fill: var(--soft-red);  
        }
    }
}

.FLIP {
    animation-name: flip;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-180deg); 
    }

    100% {
        transform: rotateX(-180deg); 
    }

}